@import "tailwindcss";

@theme {
  --color-primary: #ef4444;
}

body {
  background-color: #000000;
  color: #ffffff;
  overflow-x: hidden;
}

/* Smooth scrolling for when users click the navigation links */
html {
  scroll-behavior: smooth;
}